# Системные файлы Windows
Thumbs.db
Desktop.ini
*.xlsx
*.xls

# Приватные ключи Firebase (service account)
*-firebase-adminsdk-*.json
kdl-medic-birthday-*.json

# Node
node_modules/
npm-debug.log*

# Firebase
.firebase/
firebase-debug.log

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
